body {
    align-items: center;
    background-color: rgb(145, 165, 175);
    cursor: default;
    display: flex;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 32px;
    justify-content: center;
    gap: 16px;
    height: 100vh;
    margin: 0;
    text-align: center;
}

button {
    border: 2px solid rgb(45, 105, 180);
    color: #fff;
    font-size: 32px;
}

button:disabled {
    background-color: #bbb;
    border: 1px solid #888;
    color: #666;
}

#app {
    background-color: rgb(21, 21, 21);
    box-shadow: 0 6px 8px #777;
    position: relative;
    margin: 15px;
    color: rgb(230, 230, 230);
    border-radius: 10px;
    min-height: 300px;
    min-width: 400px;
    max-width: 800px;
    padding: 24px 40px 24px 40px;
}

#header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 32px;
}

#message {
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 32px;
    padding: 0 16px;
}

#app .correct {
    color: #008000;
    background-color: #d9f9d9;
    border: 1px solid #008000;
}

#app .incorrect {
    color: #ff0000;
    background-color: #ffdddd;
    border: 1px solid #ff0000;
}

#sidePanel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#score {
    background-color: rgb(21, 21, 21);
    border-radius: 8px;
    box-shadow: 0 6px 8px #777;
    color: rgb(230, 230, 230);
    min-height: 26px;
    min-width: 130px;
    max-width: 180px;
    padding: 16px 32px;
    text-align: center;
    text-shadow: 0 0 2px #fff;
}

button, .option {
    border-radius: 5px;
    background-color: rgb(67, 133, 208);
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
}

/************/
/* Dropdown */
/************/

.dropdown {
    font-size: 24px;
    position: relative;
    width: 100%;
}

.dropdown-btn {
    align-items: center;
    background: #1d1f24;
    border: none;
    border-radius: 0.5em;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.7em 0.7em 0.7em 1em;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}

.dropdown-content {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateY(-1em);
    transition: transform ease 0.3s;
    visibility: hidden;
    width: 100%;
}

input[type="checkbox"]:checked ~ .dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content li {
    background: #2f3238;
    border-radius: 0.5em;
}

input[type="checkbox"]:checked + label > .arrow {
    transform: rotate(180deg);
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:focus + label {
    box-shadow: 0 0 20px rgb(83, 83, 83);
}

.dropdown-content li:hover {
    background: #1d1f24;
}

.dropdown-content li a {
    display: block;
    color: #fff;
    margin: 0.1em 0;
    padding: 0.7em 0.5em;
    text-decoration: none;
}

/**********/
/* Loader */
/**********/

.ring {
    background: transparent;
    color: #fff000;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 150px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    width: 150px;
}

.ring:before {
    animation: animateC 2s linear infinite;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
}

.ring span {
    animation: animate 2s linear infinite;
    background: transparent;
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    transform-origin: left;
}

.ring span:before {
    background: #fff000;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff000;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: -6px;
    right: -8px;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
